h1{
	font-family: COCOGOOSE;
}

h2{
	font-family: Franklin Gothic Medium;
}

h3{
	font-family: Arial;
}

p{
	font-family: COCOGOOSE;
	font-size: 40px;
}

a{
	font-family: COCOGOOSE;
	font-style: italic;
}